version: 2
updates:

  - package-ecosystem: 'github-actions'
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: pip
    directories:
      - /
      - /translate-messages
      - /remove-json-keys
    schedule:
      interval: daily
    groups:
      prod-dependencies:
        dependency-type: production
      dev-dependencies:
        dependency-type: development
    versioning-strategy: increase
