name: Lint pushes + PRs
on: [push, pull_request]

permissions:
  contents: read

jobs:

  python-lint:
    name: Python lint
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository code
        uses: actions/checkout@v5.0.0

      - name: Run Ruff
        uses: astral-sh/ruff-action@v3.5.1

  yaml-lint:
    name: YAML lint
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository code
        uses: actions/checkout@v5.0.0

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        run: yamllint . -c .yamllint-config.yaml
